ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 80px;
    padding-right: 80px;
  }
  
  img{
    padding-top: 10px;
    width: 400px;
  }

  li {
    float: right;
    
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 40px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    border-bottom: 3px solid rgb(77, 169, 255);
    color: rgb(77, 169, 255);
  }