* {}

nav {
  background-color: #003047;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
  padding-top: 10px;
  width: 350px;
  margin-bottom: 25px;
}

li {
  padding-top: 40px;
  float:left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 26px;
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

li a.offerte {
  background-color: rgb(77, 169, 255);
  border: 2px solid rgb(77, 169, 255);
  color: white;
  font-weight: 500;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: rgb(77, 169, 255);
  text-decoration: underline;
}

li a.offerte:hover {
  background-color: transparent;
  border: 2px solid rgb(77, 169, 255);
  color: rgb(77, 169, 255);
  font-weight: 500;
  text-decoration: none;
}

img.photo {
  width: 100%;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
  font-size: 30pt;
}

p {
  font-family: 'Lato', sans-serif;
  line-height: 1.8;
}

/*slider*/
.home-slider{
  content: url(/images/theme-photos-Cl-OpYWFFm0-unsplash.jpg);
  position: cover;
  width: 100%;
  height: 800px;
  left: 0;
  top: 0;
}