/* algemene styling */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;900&display=swap');

:root {
    --light-blue: #E8F0F6;
    --blue: #149BDB;
    --dark-blue: #003047;
}

* {
    box-sizing: border-box;
}

.row {
    margin-top: 0 !important;
}

.my-20 {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
}

.mt-10 {
    margin-top: 2rem !important;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.btn {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

a {
  font-family: 'Work Sans', sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  color: var(--blue);
  font-weight: 500;
}

.btn {
    padding: 12px 18px 12px 18px;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 0;
}

/* navigatie styling */
.navbar {
    background-color: var(--dark-blue) !important;
    padding-left: 300px;
}

.nav-info {
    text-align: right;
    padding-right: 430px;
    padding-top: 10px;
    background-color: var(--dark-blue) !important;
    color: white;
}

.nav-item {
    padding: 0 30px 0 30px;
}

.nav-link:hover {
    color: white !important;
}

a.nav-link.btn.btn-primary {
    background-color: var(--blue);
    color: white !important;
    padding: 12px 18px 12px 18px;
}

ul.dropdown-menu {
    background-color: var(--dark-blue);
    border: none;
}

a.dropdown-item {
    color: white !important;
    font-family: 'Work Sans', sans-serif;
    padding: 10px 20px;
}

a.dropdown-item:hover {
    background-color: var(--blue);
}

/* image styling */
img {
    width: 600px;
}

img.logo {
    width: 300px;
}

img.photo {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.tekstblok{
    margin: 0 40px 0 40px;
}

.offerte {
    background-color: var(--light-blue);
}

.alert-primary {
    background-color: var(--light-blue);
}

.btn-primary:hover{
    background-color: var(--dark-blue)
}

/* OVER ONS PAGINA */
.page-slider{
    background-image: url(/images/banner.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    height: 200px;
    text-align: center;
    padding: 70px;
}

.page-slider h2{
    font-size: 50px;
    color: white;
}

.mb {
  margin-bottom: 6rem;
}

.diensten-btn{
    font-family: 'Bebas Neue', sans-serif;
    color: var(--dark-blue);
    font-size: 24pt;
    text-decoration: none;
}

.diensten-btn:hover{
    color: var(--blue);
}

/* FOOTER */
footer{
    background-color: var(--dark-blue);
    color: white;
}

.footer-img{
    width: 400px;
    float: right;
}

.navbar-collapse {
  flex-grow: 0.5 !important;
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .navbar {
        background-color: var(--dark-blue) !important;
        padding-left: 0px;
    }

    .nav-info {
        text-align: right;
        padding-right: 30px;
        padding-top: 10px;
        background-color: var(--dark-blue) !important;
        color: white;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.form {
  width: 50%;
  margin: 0 auto;
  padding: 1em;
  margin-top: 4rem;
  margin-bottom: 10rem;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--blue);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: var(--blue);
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}